name: Trigger auto deployment for cmpappcontbackcapstone

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/cmpappcontbackcapstone-AutoDeployTrigger-2c1194d7-5791-4ddc-a883-34c44b692502.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CMPAPPCONTBACKCAPSTONE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CMPAPPCONTBACKCAPSTONE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CMPAPPCONTBACKCAPSTONE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: cmpbackendcapstone.azurecr.io
          registryUsername: ${{ secrets.CMPAPPCONTBACKCAPSTONE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CMPAPPCONTBACKCAPSTONE_REGISTRY_PASSWORD }}
          containerAppName: cmpappcontbackcapstone
          resourceGroup: grupocmp
          imageToBuild: cmpbackendcapstone.azurecr.io/cmpappcontbackcapstone:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


